.container {
  max-width: 900px;
  margin: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th {
  background: #222;
  color: white;
}

td, th {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

button {
  margin-right: 5px;
  padding: 5px 10px;
  cursor: pointer;
}