.form-endereco {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 14px;

  background: #141414;
  border: 1px solid #2d2d2d;
  border-radius: 16px;
  padding: 24px;

  margin-bottom: 28px;
}

.form-endereco button {
  grid-column: span 2;
}

.lista {
  display: grid;
  gap: 16px;
}

.card {
  background: #141414;
  border: 1px solid #2d2d2d;
  border-radius: 16px;
  padding: 20px;
}

.card p {
  margin: 0;
  line-height: 1.7;
}

.card button {
  margin-top: 14px;
}