<div class="container">

  <h2>Gêneros</h2>

  <div>
    <input [(ngModel)]="filtro" placeholder="Buscar por nome">
    <button (click)="pesquisar()">Buscar</button>
    <button (click)="novo()">Novo</button>
  </div>

  <p *ngIf="carregando">Carregando...</p>
  <p *ngIf="mensagemErro">{{ mensagemErro }}</p>

  <table *ngIf="!carregando">
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Ações</th>
    </tr>

    <tr *ngFor="let g of generos">
      <td>{{ g.id }}</td>
      <td>{{ g.nomeGenero }}</td>
      <td>
        <button [routerLink]="['/generos/edit', g.id]">Editar</button>
        <button (click)="deletar(g.id!)">Excluir</button>
      </td>
    </tr>
  </table>

  <p *ngIf="!carregando && generos.length === 0">
    Nenhum gênero encontrado.
  </p>

  <div>
  <button (click)="anterior()" [disabled]="page === 0">Anterior</button>

  <span>
    Página {{ page + 1 }} de {{ totalPaginas() || 1 }}
  </span>

  <button
    (click)="proxima()"
    [disabled]="(page + 1) * pageSize >= total">
    Próxima
  </button>
</div>

</div>